<div style="width: 30%">
  <form #loginForm="ngForm" (ngSubmit)="changePassword()" novalidate>
    <h1 class="text-center">Change Password</h1>
    <mat-form-field class="full-width">
      <mat-label>Old Password</mat-label>
      <input
        required
        matInput
        type="password"
        [(ngModel)]="command.oldPassword"
        name="oldPassword"
        #oldPassword="ngModel"
      />
      <mat-error
        *ngIf="
          oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)
        "
      >
        <span *ngIf="oldPassword.errors?.['required']"
          >Old assword is required</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        required
        matInput
        type="password"
        [(ngModel)]="command.password"
        name="password"
        #password="ngModel"
      />
      <mat-error
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <span *ngIf="password.errors?.['required']">Password is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password Confirmation</mat-label>
      <input
        required
        matInput
        type="password"
        [(ngModel)]="command.passwordConfirmation"
        name="passwordConfirmation"
        #passwordConfirmation="ngModel"
      />
      <mat-error
        *ngIf="
          passwordConfirmation.invalid &&
          (passwordConfirmation.dirty || passwordConfirmation.touched)
        "
      >
        <span *ngIf="passwordConfirmation.errors?.['required']"
          >Password Confirmation is required</span
        >
      </mat-error>
    </mat-form-field>
    <button
      mat-flat-button
      [disabled]="loginForm.invalid"
      color="primary"
      class="full-width"
    >
      Save
    </button>
  </form>
</div>
