/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "~spin.js/spin.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.mat-form-field {
  width: 100%;
}

.hand {
  cursor: pointer;
}
